@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

.page {
  width: 100%;
  padding: 10px;
}

.card {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 360px;
  height: 600px;
  background-color: #74cb48;
  border-radius: 8px;

  background-image: url("/app/images/Pokeball_detail.svg");
  background-repeat: no-repeat;
  background-position-x: right;

  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.body {
  font-family: "Poppins";
  background-color: whitesmoke;
  border-radius: 8px;
  z-index: 2;
  position: absolute;
  top: 30%;
  height: 416px;
  width: 352px;

  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.body > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokeType {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pokeType > span {
  padding: 2px 8px;

  background: #74cb48;
  border-radius: 10px;
  width: 46px;
  height: 20px;

  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}

.pokeHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #74cb48;

  padding-top: 18px;

  width: 100%;
  align-items: center;
  justify-content: center;
}

.pokeChars {
  width: 100%;
}

.pokeChars > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokeChars > div > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pokeChars > div > div > div > img {
  vertical-align: middle;
}

.pokeChars > div > div > div > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #212121;
}

.pokeDetailsInfo {
  font-size: 8px;
  line-height: 12px;
  padding-top: 10px;
}

.image {
  position: absolute;
  z-index: 3;
  left: 0%;
  right: 0%;
  top: 10%;
  bottom: 0%;

  background: url(../images/bulbasaur.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

div > span {
  font-family: "PoppinsBold";
  color: white;
}
