@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins/Poppins-Regular.ttf);
}

.head {
  font-family: "Poppins";
  display: flex;
}

.head h1 {
  margin-left: 16px;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0 4px 10px 0;
  border: 1px solid;
  border-radius: 8px;
  transition: transform 250ms;
}

.card:hover {
  transform: translateY(-8px);
}

.card > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  direction: rtl;
  margin-right: 8px;
  margin-top: 4px;
}

div > div > div {
  height: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  align-items: center;
}

div > div > div > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 25px;
}

.search {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  height: 24px;
}

.grass {
  background-color: #74CB48;
}

.fire {
  background-color: #F57D31;
}

.water {
  background-color: #6493EB;
}

.bug {
  background-color: #A7B723;
}

.normal {
  background-color: #AAA67F;
}

.electric {
  background-color: #F9CF30;
}

.ghost {
  background-color: #70559B;
}

.psychic {
  background-color: #FB5584;
}

.rock {
  background-color: #B69E31;
}



